---
layout: handbook-page-toc
title: "Merge Trains Improvements - Weekly Project Plan"
description: "Merge Trains Improvements - Weekly Project Plan - Pipeline Execution Group."
---

## Merge Trains - Weekly Project Plan

<details>
    <summary markdown="span">Archive</summary>

</details>

### Week of August 7, 2023

#### Team Capacity:

  - 1 Backend Engineer

#### Goals:

  - [ ] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/128177) for refactoring of the Merge Request code for [issue](https://gitlab.com/gitlab-org/gitlab/-/issues/420668)
  - [ ] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/127531) for creating a train ref using rebase.

### Week of August 14, 2023

#### Team Capacity:

  - 2 Backend Engineers

####  Goals:

  -  [ ]  [Feature flag rollout](https://gitlab.com/gitlab-org/gitlab/-/issues/420949) of [refactoring of the Merge Request code](https://gitlab.com/gitlab-org/gitlab/-/issues/420668).
  -  [ ]  Create MR(s) for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)

### Week of August 21, 2023

####  Team Capacity:

  - 2 Backend Engineers

#### Goals:

  - [ ] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/125921) for fast forward merge of train ref into target branch
  - [ ] [Feature flag rollout](https://gitlab.com/gitlab-org/gitlab/-/issues/420161) of creating train ref using rebase.
  - [ ]  Merge MR(s) for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)

### Week of  August 28, 2023

#### Team Capacity:

  - 2 Backend Engineers

#### Goals:

  - [ ] Merge [MR]() for using a different commit message when doing fast forward merges
  - [ ] Merge [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/418822) for investigating if merge commit and squash_commit_sha tracking is needed
  - [ ] Rollout feature flag for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)

### Week of September 4, 2023

#### Team Capacity:

  - 2 Backend Engineers

#### Goals:

  - [ ] [Feature flag rollout](https://gitlab.com/gitlab-org/gitlab/-/issues/419183) of fast forward support or merge trains.
  - [ ] Merge [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/418819) for refactoring and aggregate specs
  - [ ] Merge MR(s) for [updating merge-result pipelines](https://gitlab.com/gitlab-org/gitlab/-/issues/421025)


### Week of September 11, 2023

#### Team Capacity:

  - 2 Backend Engineers

#### Goals:

  - [ ] Rollout for [merge-result pipeline change.](https://gitlab.com/gitlab-org/gitlab/-/issues/421025)
  - [ ] Merge [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/420000) (minor) for investigate concern that UI pipeline might not be created properly and/or status is delayed. This was raised during review of incomplete code. This might be fixed once all the parts are together)
  - [ ] Fast-follows for issues that arise during roll-out

### Milestone 16.5 (September 18, 2023 - October 16, 2023)

#### Team Capacity:

  - 2 Backend Engineers
  
#### Goals:

  - [ ] Any remaining fast-follows for issues that arise during roll-out
  - [ ] Update merge result pipeline to use same mechanisms as fast forward merge trains
  - [ ] Complete bug fix - [Incorrect merge button appearing when waiting for manual action](https://gitlab.com/gitlab-org/gitlab/-/issues/300663)
  - [ ] Clean-up feature flag for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)
  - [ ] Clean-up Feature flag roll out of fast forward support for merge trains

### Milestone 16.6 (October 17, 2023 - November 10, 2023)

#### Team Capacity:

  -

#### Goals:

  -

### Milestone 16.7 (November 13, 2023 - December 8, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 16.8 (December 11, 2023 - January 12, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 16.9 (January 15, 2023 - February 9, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 16.10 (February 12, 2023 - March 8, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 16.11 (March 11, 2023 - April 12, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 17.0 (April 15, 2023 - May 10, 2023)

#### Team Capacity:

  -

#### Goals:

  -
