---
layout: handbook-page-toc
title: Product Division OKRs
---
## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}


<%= partial("handbook/product/product-handbook-links") %>

## Product Division OKR Overview

For an overview of our overall approach to OKRs, as well as any company-wide OKR due dates, visit [Objectives and Key Results (OKRs)](https://about.gitlab.com/company/okrs/). 

### General timeline and process 

![General timeline and process ](/handbook/product/product-okrs/prod-okr-timeline.png)

### Guidance on timeline and process

This page provides an overview of the Product Division OKR workflow. All departments (product management, UX, etc.) collaborate by following this guidance. For clarifications on the OKR process, team members can post in Slack #product. 

## Timeline and process for every quarter

### OKR Kick-off by Chief Product Officer

- **5 weeks** prior to the start of the  quarter, an [automated drafting issue](https://gitlab.com/gitlab-com/Product/-/blob/main/.gitlab/issue_templates/Product-Division-OKR-Drafting.md) kicks off the OKR drafting process: 
     - Product EBA updates the issue with due dates and signals the Chief Product Officer the drafting issue is available for drafting
- **4 weeks** prior to the start of the quarter: 
     - CProdO drafts Product Division OKRs aligned to the [annual product investment themes](https://about.gitlab.com/direction/#fy23-product-investment-themes) and annual [Yearlies](https://about.gitlab.com/company/yearlies/) leveraging the [drafting issue](https://gitlab.com/gitlab-com/Product/-/blob/main/.gitlab/issue_templates/Product-Division-OKR-Drafting.md)
- **3 weeks** prior to the start of the quarter:
     - CProdO shares proposed Product OKRs with Product Leadership Team
     - Product Leadership team provides their feedback or any alternate OKRs in the drafting issue
- **2 weeks** prior to the start to quarter:
     - CProdO shares Product OKRs with the Product Team
- **1 weeks** prior to start of fiscal quarter:
     - Produt EBAs create high level OKRs in GitLab and tag in Product Managers to finalize KR drafts with their [Product Grooup/Quad](https://about.gitlab.com/handbook/product/product-processes/#quad--infra--security-product-group-dris)
     - Product Leadership to review all their Product Managers' OKRs and finalize their teams' OKR committments 
- **Ongoing** after quarter start: 
     - KR Owners update scores monthly 
     
### Current quarter OKR references

- [FY23 Q4 Product Division OKRs](https://gitlab.com/groups/gitlab-com/-/epics/2050)
- [FY23 Q4 OKR overview video](https://youtu.be/lnaKB1P28S4)
- [FY23 Q4 feedback issue](https://gitlab.com/gitlab-com/Product/-/issues/5212)
- [FY24 Q1 company-wide OKR timeline](https://about.gitlab.com/company/okrs/fy24-q1/#okr-schedule)

#### Past Quarters

Product Division (PM and UX) OKRs for the following quarters can be found in this [sheet](https://docs.google.com/spreadsheets/d/1eDbadMdoXDnyUK_Homr-ilCQSsaeOGDsflc8FNmMyGs/edit#gid=622042351) as Ally.io usage is has been sunsetted:

- FY23 Q3
- FY23 Q2
- FY23 Q1
- FY22 Q4
- FY22 Q3

- [Product OKRs FY22 Q2](https://gitlab.com/gitlab-com/Product/-/issues/2376)
- [Product OKRs FY22 Q1](https://gitlab.com/gitlab-com/Product/-/issues/1914)
- [Product OKRs FY21 Q4](https://gitlab.com/gitlab-com/Product/-/issues/1566)
- [Product OKRs FY21 Q3](https://gitlab.com/gitlab-com/Product/-/issues/1320)


## Updating the Status and Progress of OKRs 

**When to update the status of Product OKRs** 

- For all Product team OKRs, the KR owners are responsible for keeping the status of their KRs in [GitLab](https://about.gitlab.com/company/okrs/#how-to-use-gitlab-for-okrs) up to date
     - Team members who **own** specific OKRs will update [the score (% complete) in GitLab](https://about.gitlab.com/company/okrs/#scoring-okrs) monthly and ping any relevant stakeholders as needed. For example, since FY23-Q1 begins February 1, KR owners will provide score updates by February 15,  March 15 and April 15. We follow this mid-month cycle to ensure there are accurate OKR status updates for [Key Reviews](https://about.gitlab.com/handbook/key-review/) which typically happen around the 20th of each month.
- **Owners** of KRs will get pinged with reminders to do "check-ins" via Slack around the 5th of each month.
- **Owners** of KRs will also get pinged in the [Product Key Review issue](https://gitlab.com/gitlab-com/Product/-/issues/2919) as needed to update the Product Key Review slides around the 18th of each month based on what is in GitLab.

**How to report progress of Product OKRs**

- Prior to the start of each quarter, shared product KR owners should lead and align on a plan for the [Product Group](https://about.gitlab.com/handbook/product/product-processes/#quad--infra--security-product-group-dris) to accomplish their KRs.
- For guidance on how to structure and score OKRs, refer to the Scoring OKRs section on the GitLab OKRs page (https://about.gitlab.com/company/okrs/#scoring-okrs).
- At the end of each quarter the OKR owner will do a final scoring of the OKRs. If the OKR shifted from the original OKR, always score the the latest agreed to KRs that are still valid. 

**How to change an OKR within the quarter**

In certain circumstances, it is appropriate to [change an OKR within the quarter](/company/okrs/#making-changes-within-quarter). To make a change to an OKR: 
1. OKR assignee review: The OKR assignee needs to review and agree to the proposed OKR change. 
2. Tradeoffs review and communication: OKR assignee should ensure that the right tradeoffs are made to make the OKR feasible for the quarter. 
   1. If another OKR needs to be deprioritized this should be clearly outlined as part of the OKR change. 
   2. If an OKR that needs to be deprioritized is a shared OKR, or a dependency for another team's work, the other teams and stakeholders must be informed of the change and their feedback considered. 
3. Inform manager: As part of making the OKR change, the assignee should inform his manager and impacted stakeholders, including any owner of an objective that this OKR rolls up to and owners of OKRs below the one being changed. 
4. Track the change and update the OKR: Once the manager and impacted stakeholders acknowledge the change, the assignee should: 
   1. Update the description of the parent objective to add a summary of the change and link to the rationale. This helps keep track of OKR changes throughout the quarter. 
   2. Update the actual OKR in the GitLab OKR tracker to reflect the latest agreed to OKR. 

**How this will look in Product Key Review slides**

- Product Key Reviews will reference Ally.io in an [OKR specific slide](https://docs.google.com/presentation/d/1O5Kc1kpJJBm5aJFT24V05xuR3pHjCGzID-QkYcUSZ5k/edit#slide=id.ge7a2c8f4b9_0_12)
- Product team OKR owners may leverage this [slide template](https://docs.google.com/presentation/d/1O5Kc1kpJJBm5aJFT24V05xuR3pHjCGzID-QkYcUSZ5k/edit#slide=id.geb1b1c60d1_1_4) if additional details are needed for their KRs

## How to write OKRs

It is highly recommended that product groups limit the number of OKRs they commit to so they have reasonable bandwidth to deliver  on them. PMs should consider either setting 1 OKR that's not related to a product theme **OR** 3 or fewer KRs if they are using the product themes as their objectives.

Here's are some examples of  how GPMs and PMs can use  epics/issues to plan and outline their product group OKRs:

- [Create stage](https://gitlab.com/gitlab-org/create-stage/-/issues/12875)

     - [Create: Editor group](https://gitlab.com/gitlab-com/www-gitlab-com/-/issues/12044)

     - [Create: Code review group](https://gitlab.com/gitlab-org/create-stage/-/issues/12877)

- Manage stage

     - [Compliance group](https://gitlab.com/gitlab-org/gitlab/-/issues/334921)

[Verify stage](https://gitlab.com/gitlab-org/verify-stage/-/issues/89)

For more resources on OKRs, such as more about what OKRs are, the importance of OKRs at GitLab, and how to write OKRs and examples, see the [company OKR handbook page](https://about.gitlab.com/company/okrs/). You can also find more resources in [Product Management Learning & Development](https://about.gitlab.com/handbook/product/product-manager-role/learning-and-development/#-kpis-and-metrics).

## Additional Resources

- [What Matters](https://www.whatmatters.com/)

## Timeline and process for previous quarters

For previous quarters, please see [previous quarter OKR timelines](/handbook/product/product-okrs/previous-quarters/)

## How to contribute to this page

We encourage suggestions and improvements to the Product OKR process so please feel free to raise an MR to this page. To keep us all aligned, as the process touches all teams across the company.
